.argon-container {
    //
    // Form extend
    //


    // Color variations

    .form-primary {
        .form-control {
            color: argon-color-yiq(argon-theme-color("primary"));
            background-color: transparentize(darken(argon-theme-color("primary"), 10%), .5);
            border-color: darken(argon-theme-color("primary"), 10%);

            &:focus {
                background-color: transparentize(darken(argon-theme-color("primary"), 12%), .3);
                border: $argon-input-border-width solid darken(argon-theme-color("primary"), 12%);
            }

            // Placeholder
            &::placeholder {
                color: transparentize(argon-color-yiq(argon-theme-color("primary")), .2);
            }
        }

        .input-group-text {
            color: argon-color-yiq(argon-theme-color("primary"));
            background-color: transparentize(darken(argon-theme-color("primary"), 10%), .5);
            border-color: darken(argon-theme-color("primary"), 10%);
        }

        .focused {
            .input-group-text {
                color: argon-color-yiq(argon-theme-color("primary"));
                background-color: transparentize(darken(argon-theme-color("primary"), 12%), .3);
                border-color: darken(argon-theme-color("primary"), 12%);
            }
        }
    }
}
