.summa-container {
	/* ------------------------------------------------------------ *\
        Avatar
    \* ------------------------------------------------------------ */

	.avatar {
		display: inline-flex;
		vertical-align: middle;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		border: 2px solid #fff;
		border-radius: 50%;
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
	}
}
