/* ------------------------------------------------------------ *\
	Dropdowns
\* ------------------------------------------------------------ */
.summa-container {
	.dropdown {
		position: relative;
	}

	.dropdown__list {
		left: 0;
		top: 100%;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: opacity 0.4s, visibility 0.4s, max-height 0.4s;
		z-index: 9;
	}

	.dropdown--open .dropdown__list {
		max-height: 20000px;
		visibility: visible;
		opacity: 1;
	}

	.dropdown-static .dropdown__list {
		position: relative;
	}

	/*  Default  */

	.dropdown-default {
		.dropdown__toggle {
			position: relative;
			display: block;
			background: #fff;
			font-size: 16px;
			line-height: 1.44;
			font-weight: 600;
			text-decoration: none;
			padding: 16px 30px 16px 20px;
		}

		.dropdown__toggle:after {
			position: absolute;
			top: 50%;
			right: 20px;
			content: '';
			background: url(/images/ico-arrow-down-dark@2x.png) 0 0 no-repeat;
			width: 16px;
			height: 10px;
			background-size: 100% 100%;
			transform: translateY(-50%);
			transition: transform 0.4s;
		}

		&.dropdown--open .dropdown__toggle:after {
			transform: rotate(180deg) translateY(50%);
		}

		.dropdown__list {
			padding-top: 12px;
		}

		.dropdown__list li + li {
			margin-top: 12px;
		}

		.dropdown__list a {
			display: block;
			padding: 18px 20px;
			background: #fff;
			font-size: 14px;
			line-height: 1.36;
			font-weight: 400;
			text-decoration: none;
			transition: background 0.4s;
		}

		.dropdown__list .current a,
		.dropdown__list a:hover {
			background: #ffeaea;
		}
	}

	/*  User  */

	.dropdown--user {
		a {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 5px 20px 5px 0;
			text-decoration: none;
		}

		img {
			border-radius: 50%;
		}

		span {
			font-size: 18px;
			font-weight: 600;
		}

		span + img {
			margin-left: 22px;
		}

		.dropdown__list {
			background: #fff;
			border: 1px solid #c1c1c1;
			border-radius: 3px;
		}

		.pad__top {
			margin-top: 100px;
		}

		.dropdown__toggle {
			position: relative;
		}

		.dropdown__toggle:after {
			position: absolute;
			top: 50%;
			right: 0;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 3.5px 0 3.5px;
			border-color: #637280 transparent transparent transparent;
			transform: translateY(-50%);
			transition: transform 0.4s;
		}

		&.dropdown--open .dropdown__toggle:after {
			transform: rotate(180deg) translateY(50%);
		}

		.dropdown__list a {
			justify-content: flex-start;
			padding: 5px 20px;
		}

		.dropdown__list {
		}
	}

	.user--list li + li {
		border-top: 1px solid #c1c1c1;
	}

	.user--list ul {
		list-style-type: none;
	}

	.user--list a:hover {
		background: #f2f3f5;
	}

	/* Mobile */

	@media #{$summa-mobile} {
		.dropdown--user {
			position: absolute;
			right: 12px;
			z-index: 2;

			& .pad__top {
				margin-top: 130px;
			}
		}

		.dropdown__list {
			left: auto;
			right: 0;
			//top: calc(100% - 40px);
			min-width: 180px;

			a {
				padding: 5px 10px;
			}
		}

		.dropdown__toggle > span {
			//display: none;
		}

		.dropdown--user a {
			padding: 0;
		}
		.dropdown--user .dropdown__toggle:after {
			display: none;
		}
		.dropdown--user span + img {
			margin-left: 0;
		}
		.dropdown--user .dropdown__list li {
			padding: 5px;
		}
	}
}
