.summa-container {
	/* ------------------------------------------------------------ *\
        Header
    \* ------------------------------------------------------------ */

	.header {
		position: relative;
		z-index: 40;
		display: flex;
		background: #fff;
		height: 68px;

		box-shadow: 0 2px 4px 0px rgba(35, 36, 37, 0.3);

		&.disabled {
			background: #f2f3f5;
		}

		.logo {
			flex-shrink: 0;
		}

		.header__inner {
			flex-grow: 1;
			align-items: center;
			padding: 0 24px;

			.avatar {
				width: 42px;
				height: 42px;
			}
		}

		.header__actions {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.link-settings,
		.link-notifications {
			margin-left: 30px;
			font-size: 0;
		}

		.link-settings i,
		.link-notifications i {
			font-size: 0;
		}

		@media #{$summa-tablet-portrait} {
			.header__inner {
				padding: 0 10px;
			}
		}

		@media #{$summa-mobile} {
			position: relative;
			padding: 12px;
			border-bottom: 1px solid #c1c1c1;
			z-index: 4;
			height: 68px;
			.header__inner {
				padding: 0;
			}
			.logo {
				width: 100%;
				padding: 0 42px 0 0;
			}
			.header__actions {
				width: 42px;
				flex-shrink: 0;
			}
		}
	}
}
