.summa-container {
	/* ------------------------------------------------------------ *\
        Logo
    \* ------------------------------------------------------------ */

	.logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 14px 20px 12px;
		text-decoration: none;
		max-width: 82px;

		strong {
			color: #2b333e;
			font-size: 20px;
			font-weight: 600;
		}

		i {
			font-size: 0;
		}

		@media #{$summa-mobile} {
			justify-content: flex-start;
			border: none;

			strong {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
