.summa-container {
	.settings_widget {
		background: #ffffff;
		border-radius: 10px;
		padding: .5em;

		h5 {
			padding: .5em 0;
		}

		.settings_bottom {
			padding: .5em 0;
			border-top: thin solid lightgray;
			display: flex;
			justify-content: center;
		}

		.row {
			padding: .5em;
		}

		.settings_options {
			padding: .5em 0;
			justify-content: center;

			button {
				margin: .5em auto;
			}
		}
	}
}
