.summa-container {
	/* ------------------------------------------------------------ *\
        Tooltip
    \* ------------------------------------------------------------ */

	.tooltip {
		z-index: 9999;

		.tooltip-inner {
			padding: 12px 5px;
			min-width: 175px;
			background: #637280;
			box-shadow: 0 2px 6px 0 rgba(176, 186, 197, 0.6);
			border-radius: 4px;
			font-size: 12px;
			text-align: center;
			color: #fff;
		}

		.tooltip-arrow {
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			margin: 5px;
			border-color: #637280;
			z-index: 1;
		}

		&[x-placement^='top'] {
			margin-bottom: 5px;

			.tooltip-arrow {
				border-width: 5px 5px 0 5px;
				border-left-color: transparent !important;
				border-right-color: transparent !important;
				border-bottom-color: transparent !important;
				bottom: -5px;
				left: calc(50% - 5px);
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		&[x-placement^='bottom'] {
			margin-top: 5px;

			.tooltip-arrow {
				border-width: 0 5px 5px 5px;
				border-left-color: transparent !important;
				border-right-color: transparent !important;
				border-top-color: transparent !important;
				top: -5px;
				left: calc(50% - 5px);
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		&[x-placement^='right'] {
			margin-left: 5px;

			.tooltip-arrow {
				border-width: 5px 5px 5px 0;
				border-left-color: transparent !important;
				border-top-color: transparent !important;
				border-bottom-color: transparent !important;
				left: -5px;
				top: calc(50% - 5px);
				margin-left: 0;
				margin-right: 0;
			}
		}

		&[x-placement^='left'] {
			margin-right: 5px;

			.tooltip-arrow {
				border-width: 5px 0 5px 5px;
				border-top-color: transparent !important;
				border-right-color: transparent !important;
				border-bottom-color: transparent !important;
				right: -5px;
				top: calc(50% - 5px);
				margin-left: 0;
				margin-right: 0;
			}
		}

		&.danger {
			.tooltip-inner {
				box-shadow: 0 2px 6px rgba(176, 186, 197, 0.6);
				background: #f03e41;
			}

			.tooltip-arrow {
				border-color: #f03e41;
			}
		}
	}
}
