.black-container {
  .pagination {
    .page-item .page-link {
      user-select: none;
      border: 0;
      border-radius: 30px !important;
      transition: all .3s;
      margin: 0 3px;
      min-width: 30px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      cursor: pointer;
      text-transform: uppercase;
      outline: none;

      &:hover,
      &:focus {
        background-color: rgba($black-white, 0.1);
        color: $black-white;
        border: none;
        box-shadow: none;
      }
    }

    .arrow-margin-left,
    .arrow-margin-right {
      position: absolute;
    }

    .arrow-margin-right {
      right: 0;
    }

    .arrow-margin-left {
      left: 0;
    }

    .page-item.active > .page-link {
      color: $black-white;
      box-shadow: $black-box-shadow;

      &,
      &:focus,
      &:hover {
        @include diagonal-gradient($black-primary, $black-primary-states);

        color: $black-white;
      }
    }

    .page-item.disabled > .page-link {
      opacity: .5;
    }

    // Colors
    &.pagination-info {
      .page-item.active > .page-link {
        &,
        &:focus,
        &:hover {
          @include diagonal-gradient($black-info, $black-info-states);
        }
      }
    }

    &.pagination-success {
      .page-item.active > .page-link {
        &,
        &:focus,
        &:hover {
          @include diagonal-gradient($black-success, $black-success-states);
        }
      }
    }

    &.pagination-primary {
      .page-item.active > .page-link {
        &,
        &:focus,
        &:hover {
          @include diagonal-gradient($black-primary, $black-primary-states);

        }
      }
    }

    &.pagination-warning {
      .page-item.active > .page-link {
        &,
        &:focus,
        &:hover {
          @include diagonal-gradient($black-warning, $black-warning-states);

        }
      }
    }

    &.pagination-danger {
      .page-item.active > .page-link {
        &,
        &:focus,
        &:hover {
          @include diagonal-gradient($black-danger, $black-danger-states);

        }
      }
    }

    &.pagination-neutral {
      .page-item > .page-link {
        color: $black-white;

        &:focus,
        &:hover {
          background-color: $black-opacity-2;
          color: $black-white;
        }
      }

      .page-item.active > .page-link {
        &,
        &:focus,
        &:hover {
          background-color: $black-white;
          border-color: $black-white;
          color: $black-brand-primary;
        }
      }
    }

  }

  @include black-media-breakpoint-down(sm) {
    div.dataTables_paginate ul.pagination {
      .page-item:first-of-type,
      .page-item:nth-of-type(2),
      .page-item:nth-of-type(8),
      .page-item:last-of-type {
        display: none !important;
      }
    }
  }
}
