.ui-kit-container {
  .card {
    .rounded {
      border-radius: $kit-border-radius-small !important;
    }

    &:not(.card-plain) .rounded {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    a[data-toggle='collapse'] {
      text-decoration: underline;
    }

    & a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link) {
      text-decoration: underline;
      border-bottom: 2px solid transparent;
      color: $kit-light-black;

      &:hover,
      &:focus {
        border-color: #444;
      }
    }

    .card-header {
      .card-collapse & {
        padding: .75rem 0;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: $kit-light-gray;
        }

        a[data-toggle="collapse"] {
          display: block;
          color: $kit-light-black;


          &[aria-expanded="true"],
          &.expanded {
            i {
              @include rotate-180();
            }
          }

          i {
            float: right;
            position: relative;
            color: $kit-success-color;
            top: 1px;
            @include transition($kit-general-transition-time, $kit-transition-ease);
          }
        }
      }
    }

    .card-image {
      position: relative;
    }

    .card-footer {
      div {
        display: inline-block;
      }

      .stats {
        &.stats-right {
          float: right;
          line-height: 30px;
        }

        span:first-child {
          margin-right: 30px;
        }
      }
    }

    &:not(.card-product) .card-footer .stats {
      .now-ui-icons {
        position: relative;
        top: 3px;
        font-size: 18px;
        margin-right: 5px;

      }

      i {
        color: lighten($kit-default-color, 10%);
      }
    }

    .card-title {
      margin-top: 15px;
      line-height: 1.25em;
    }

    .author {
      .avatar {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
      }

      span {
        color: $kit-dark-gray;
      }
    }


    .info {
      padding: 40px 0 40px;
      text-align: center;
      position: relative;
      z-index: 2;

    }
  }
}
