/*------------------------
	icons
-------------------------*/
@cc-icon-window-responsive: "\ea02";
@cc-icon-window-dev: "\ea03";
@cc-icon-name-card: "\ea04";
@cc-icon-bill: "\ea05";
@cc-icon-sidebar: "\ea06";
@cc-icon-mirror-tablet-phone: "\ea07";
@cc-icon-mirror-tablet-phone-2: "\ea08";
@cc-icon-window-code: "\ea09";
@cc-icon-window-dev-2: "\ea0a";
@cc-icon-data-table: "\ea0b";
@cc-icon-board-2: "\ea0c";
@cc-icon-data-table-2: "\ea0d";
@cc-icon-js-console: "\ea0e";
@cc-icon-roadmap: "\ea0f";
@cc-icon-note: "\ea10";
@cc-icon-board-2-2: "\ea11";
@cc-icon-three-dimensional-object: "\ea12";
@cc-icon-priority-highest: "\ea13";
@cc-icon-priority-high: "\ea14";
@cc-icon-priority-normal: "\ea15";
@cc-icon-priority-low: "\ea16";
@cc-icon-priority-lowest: "\ea17";
@cc-icon-decision-process: "\ea18";
@cc-icon-floors: "\ea19";
@cc-icon-app-store: "\ea1a";
@cc-icon-apps: "\ea1b";
@cc-icon-img-stack: "\ea1c";
@cc-icon-hot-key: "\ea1d";
@cc-icon-json: "\ea1e";
@cc-icon-tool-hand: "\ea1f";
@cc-icon-components: "\ea20";
@cc-icon-grid-system: "\ea21";
@cc-icon-mask-rect: "\ea22";
@cc-icon-mask-oval: "\ea23";
@cc-icon-tool-blur: "\ea24";
@cc-icon-transparent: "\ea25";
@cc-icon-size-large: "\ea26";
@cc-icon-design-system: "\ea27";
@cc-icon-position: "\ea28";
@cc-icon-border-radius: "\ea29";
@cc-icon-border: "\ea2a";
@cc-icon-cards: "\ea2b";
@cc-icon-prototype: "\ea2c";
@cc-icon-gradient: "\ea2d";
@cc-icon-timeline: "\ea2e";
@cc-icon-sidebar-2: "\ea2f";
@cc-icon-mirror-tablet-phone-3: "\ea30";
@cc-icon-zoom-99: "\ea31";
@cc-icon-window-responsive-2: "\ea32";
@cc-icon-window-paragraph: "\ea33";
@cc-icon-window-dev-3: "\ea34";
@cc-icon-window-code-2: "\ea35";
@cc-icon-webpage: "\ea36";
@cc-icon-wireframe: "\ea37";
@cc-icon-wand-11: "\ea38";
@cc-icon-graphics-tablet: "\ea39";
@cc-icon-tablet-mobile: "\ea3a";
@cc-icon-sketch: "\ea3b";
@cc-icon-psd: "\ea3c";
@cc-icon-png: "\ea3d";
@cc-icon-php: "\ea3e";
@cc-icon-mobile-phone: "\ea3f";
@cc-icon-pdf: "\ea40";
@cc-icon-paper-dev: "\ea41";
@cc-icon-patch-34: "\ea42";
@cc-icon-patch-19: "\ea43";
@cc-icon-note-code: "\ea44";
@cc-icon-newsletter-dev: "\ea45";
@cc-icon-mouse: "\ea46";
@cc-icon-mouse-2: "\ea47";
@cc-icon-mobile-dev: "\ea48";
@cc-icon-mobile-design: "\ea49";
@cc-icon-mirror: "\ea4a";
@cc-icon-microsoft: "\ea4b";
@cc-icon-stack: "\ea4c";
@cc-icon-js: "\ea4d";
@cc-icon-jpg: "\ea4e";
@cc-icon-image: "\ea4f";
@cc-icon-html5: "\ea50";
@cc-icon-html: "\ea51";
@cc-icon-form: "\ea52";
@cc-icon-filter-organization: "\ea53";
@cc-icon-eps: "\ea54";
@cc-icon-drag: "\ea55";
@cc-icon-design-dev: "\ea56";
@cc-icon-css3: "\ea57";
@cc-icon-css: "\ea58";
@cc-icon-copy: "\ea59";
@cc-icon-collection: "\ea5a";
@cc-icon-code: "\ea5b";
@cc-icon-code-editor: "\ea5c";
@cc-icon-canvas: "\ea5d";
@cc-icon-bullet-list-70: "\ea5e";
@cc-icon-bullet-list-69: "\ea5f";
@cc-icon-bug: "\ea60";
@cc-icon-book-bookmark: "\ea61";
@cc-icon-book-bookmark-2: "\ea62";
@cc-icon-apple: "\ea63";
@cc-icon-android: "\ea64";
@cc-icon-album: "\ea65";
@cc-icon-app-services: "\ea66";
@cc-icon-name-card-2: "\ea67";
@cc-icon-business-contact-85: "\ea68";
@cc-icon-privacy-policy: "\ea69";
@cc-icon-wallet-90: "\ea6a";
@cc-icon-strategy: "\ea6b";
@cc-icon-pig: "\ea6c";
@cc-icon-payment: "\ea6d";
@cc-icon-notes: "\ea6e";
@cc-icon-net: "\ea6f";
@cc-icon-laptop-91: "\ea70";
@cc-icon-laptop-72: "\ea71";
@cc-icon-laptop-71: "\ea72";
@cc-icon-globe: "\ea73";
@cc-icon-business-contact-87: "\ea74";
@cc-icon-business-contact-86: "\ea75";
@cc-icon-temple: "\ea76";
@cc-icon-board-28: "\ea77";
@cc-icon-cockade: "\ea78";
@cc-icon-badge: "\ea79";
@cc-icon-virus: "\ea7a";
@cc-icon-satellite: "\ea7b";
@cc-icon-virtual-assistant-2: "\ea7c";
@cc-icon-cpu: "\ea7d";
@cc-icon-content-360deg: "\ea7e";
@cc-icon-phone-camera-back: "\ea7f";
@cc-icon-send-to-phone: "\ea80";
@cc-icon-virtual-assistant: "\ea81";
@cc-icon-mobile-chat: "\ea82";
@cc-icon-ai: "\ea83";
@cc-icon-tv-stand: "\ea84";
@cc-icon-tv: "\ea85";
@cc-icon-tablet: "\ea86";
@cc-icon-tablet-2: "\ea87";
@cc-icon-sync-devices: "\ea88";
@cc-icon-signal: "\ea89";
@cc-icon-screen-rotation: "\ea8a";
@cc-icon-lock-orientation: "\ea8b";
@cc-icon-remote-control: "\ea8c";
@cc-icon-video-player: "\ea8d";
@cc-icon-mobile-phone-2: "\ea8e";
@cc-icon-phone-toolbar: "\ea8f";
@cc-icon-smartphone: "\ea90";
@cc-icon-pc-mouse: "\ea91";
@cc-icon-mouse-2-2: "\ea92";
@cc-icon-mouse-3: "\ea93";
@cc-icon-music-player: "\ea94";
@cc-icon-navigation: "\ea95";
@cc-icon-p-add: "\ea96";
@cc-icon-p-check: "\ea97";
@cc-icon-p-edit: "\ea98";
@cc-icon-p-heart: "\ea99";
@cc-icon-p-location: "\ea9a";
@cc-icon-p-remove: "\ea9b";
@cc-icon-p-search: "\ea9c";
@cc-icon-p-settings: "\ea9d";
@cc-icon-p-share: "\ea9e";
@cc-icon-p-sync: "\ea9f";
@cc-icon-p-system-update: "\eaa0";
@cc-icon-p-time: "\eaa1";
@cc-icon-h-dashboard: "\eaa2";
@cc-icon-pc-monitor: "\eaa3";
@cc-icon-pc: "\eaa4";
@cc-icon-device-connection: "\eaa5";
@cc-icon-disk-reader: "\eaa6";
@cc-icon-l-add: "\eaa7";
@cc-icon-l-check: "\eaa8";
@cc-icon-l-location: "\eaa9";
@cc-icon-l-remove: "\eaaa";
@cc-icon-l-search: "\eaab";
@cc-icon-l-security: "\eaac";
@cc-icon-l-settings: "\eaad";
@cc-icon-l-sync: "\eaae";
@cc-icon-l-system-update: "\eaaf";
@cc-icon-laptop-1: "\eab0";
@cc-icon-laptop-2: "\eab1";
@cc-icon-laptop: "\eab2";
@cc-icon-lock-portrait: "\eab3";
@cc-icon-lock-landscape: "\eab4";
@cc-icon-phone-button: "\eab5";
@cc-icon-phone-camera-front: "\eab6";
@cc-icon-landscape-orientation: "\eab7";
@cc-icon-android-2: "\eab8";
@cc-icon-apple-2: "\eab9";
@cc-icon-cctv: "\eaba";
@cc-icon-migration: "\eabb";
@cc-icon-computer-monitor: "\eabc";
@cc-icon-vintage-computer: "\eabd";
@cc-icon-computer: "\eabe";

.cc-icon-window-responsive::before {
  content: @cc-icon-window-responsive;
}

.cc-icon-window-dev::before {
  content: @cc-icon-window-dev;
}

.cc-icon-name-card::before {
  content: @cc-icon-name-card;
}

.cc-icon-bill::before {
  content: @cc-icon-bill;
}

.cc-icon-sidebar::before {
  content: @cc-icon-sidebar;
}

.cc-icon-mirror-tablet-phone::before {
  content: @cc-icon-mirror-tablet-phone;
}

.cc-icon-mirror-tablet-phone-2::before {
  content: @cc-icon-mirror-tablet-phone-2;
}

.cc-icon-window-code::before {
  content: @cc-icon-window-code;
}

.cc-icon-window-dev-2::before {
  content: @cc-icon-window-dev-2;
}

.cc-icon-data-table::before {
  content: @cc-icon-data-table;
}

.cc-icon-board-2::before {
  content: @cc-icon-board-2;
}

.cc-icon-data-table-2::before {
  content: @cc-icon-data-table-2;
}

.cc-icon-js-console::before {
  content: @cc-icon-js-console;
}

.cc-icon-roadmap::before {
  content: @cc-icon-roadmap;
}

.cc-icon-note::before {
  content: @cc-icon-note;
}

.cc-icon-board-2-2::before {
  content: @cc-icon-board-2-2;
}

.cc-icon-three-dimensional-object::before {
  content: @cc-icon-three-dimensional-object;
}

.cc-icon-priority-highest::before {
  content: @cc-icon-priority-highest;
}

.cc-icon-priority-high::before {
  content: @cc-icon-priority-high;
}

.cc-icon-priority-normal::before {
  content: @cc-icon-priority-normal;
}

.cc-icon-priority-low::before {
  content: @cc-icon-priority-low;
}

.cc-icon-priority-lowest::before {
  content: @cc-icon-priority-lowest;
}

.cc-icon-decision-process::before {
  content: @cc-icon-decision-process;
}

.cc-icon-floors::before {
  content: @cc-icon-floors;
}

.cc-icon-app-store::before {
  content: @cc-icon-app-store;
}

.cc-icon-apps::before {
  content: @cc-icon-apps;
}

.cc-icon-img-stack::before {
  content: @cc-icon-img-stack;
}

.cc-icon-hot-key::before {
  content: @cc-icon-hot-key;
}

.cc-icon-json::before {
  content: @cc-icon-json;
}

.cc-icon-tool-hand::before {
  content: @cc-icon-tool-hand;
}

.cc-icon-components::before {
  content: @cc-icon-components;
}

.cc-icon-grid-system::before {
  content: @cc-icon-grid-system;
}

.cc-icon-mask-rect::before {
  content: @cc-icon-mask-rect;
}

.cc-icon-mask-oval::before {
  content: @cc-icon-mask-oval;
}

.cc-icon-tool-blur::before {
  content: @cc-icon-tool-blur;
}

.cc-icon-transparent::before {
  content: @cc-icon-transparent;
}

.cc-icon-size-large::before {
  content: @cc-icon-size-large;
}

.cc-icon-design-system::before {
  content: @cc-icon-design-system;
}

.cc-icon-position::before {
  content: @cc-icon-position;
}

.cc-icon-border-radius::before {
  content: @cc-icon-border-radius;
}

.cc-icon-border::before {
  content: @cc-icon-border;
}

.cc-icon-cards::before {
  content: @cc-icon-cards;
}

.cc-icon-prototype::before {
  content: @cc-icon-prototype;
}

.cc-icon-gradient::before {
  content: @cc-icon-gradient;
}

.cc-icon-timeline::before {
  content: @cc-icon-timeline;
}

.cc-icon-sidebar-2::before {
  content: @cc-icon-sidebar-2;
}

.cc-icon-mirror-tablet-phone-3::before {
  content: @cc-icon-mirror-tablet-phone-3;
}

.cc-icon-zoom-99::before {
  content: @cc-icon-zoom-99;
}

.cc-icon-window-responsive-2::before {
  content: @cc-icon-window-responsive-2;
}

.cc-icon-window-paragraph::before {
  content: @cc-icon-window-paragraph;
}

.cc-icon-window-dev-3::before {
  content: @cc-icon-window-dev-3;
}

.cc-icon-window-code-2::before {
  content: @cc-icon-window-code-2;
}

.cc-icon-webpage::before {
  content: @cc-icon-webpage;
}

.cc-icon-wireframe::before {
  content: @cc-icon-wireframe;
}

.cc-icon-wand-11::before {
  content: @cc-icon-wand-11;
}

.cc-icon-graphics-tablet::before {
  content: @cc-icon-graphics-tablet;
}

.cc-icon-tablet-mobile::before {
  content: @cc-icon-tablet-mobile;
}

.cc-icon-sketch::before {
  content: @cc-icon-sketch;
}

.cc-icon-psd::before {
  content: @cc-icon-psd;
}

.cc-icon-png::before {
  content: @cc-icon-png;
}

.cc-icon-php::before {
  content: @cc-icon-php;
}

.cc-icon-mobile-phone::before {
  content: @cc-icon-mobile-phone;
}

.cc-icon-pdf::before {
  content: @cc-icon-pdf;
}

.cc-icon-paper-dev::before {
  content: @cc-icon-paper-dev;
}

.cc-icon-patch-34::before {
  content: @cc-icon-patch-34;
}

.cc-icon-patch-19::before {
  content: @cc-icon-patch-19;
}

.cc-icon-note-code::before {
  content: @cc-icon-note-code;
}

.cc-icon-newsletter-dev::before {
  content: @cc-icon-newsletter-dev;
}

.cc-icon-mouse::before {
  content: @cc-icon-mouse;
}

.cc-icon-mouse-2::before {
  content: @cc-icon-mouse-2;
}

.cc-icon-mobile-dev::before {
  content: @cc-icon-mobile-dev;
}

.cc-icon-mobile-design::before {
  content: @cc-icon-mobile-design;
}

.cc-icon-mirror::before {
  content: @cc-icon-mirror;
}

.cc-icon-microsoft::before {
  content: @cc-icon-microsoft;
}

.cc-icon-stack::before {
  content: @cc-icon-stack;
}

.cc-icon-js::before {
  content: @cc-icon-js;
}

.cc-icon-jpg::before {
  content: @cc-icon-jpg;
}

.cc-icon-image::before {
  content: @cc-icon-image;
}

.cc-icon-html5::before {
  content: @cc-icon-html5;
}

.cc-icon-html::before {
  content: @cc-icon-html;
}

.cc-icon-form::before {
  content: @cc-icon-form;
}

.cc-icon-filter-organization::before {
  content: @cc-icon-filter-organization;
}

.cc-icon-eps::before {
  content: @cc-icon-eps;
}

.cc-icon-drag::before {
  content: @cc-icon-drag;
}

.cc-icon-design-dev::before {
  content: @cc-icon-design-dev;
}

.cc-icon-css3::before {
  content: @cc-icon-css3;
}

.cc-icon-css::before {
  content: @cc-icon-css;
}

.cc-icon-copy::before {
  content: @cc-icon-copy;
}

.cc-icon-collection::before {
  content: @cc-icon-collection;
}

.cc-icon-code::before {
  content: @cc-icon-code;
}

.cc-icon-code-editor::before {
  content: @cc-icon-code-editor;
}

.cc-icon-canvas::before {
  content: @cc-icon-canvas;
}

.cc-icon-bullet-list-70::before {
  content: @cc-icon-bullet-list-70;
}

.cc-icon-bullet-list-69::before {
  content: @cc-icon-bullet-list-69;
}

.cc-icon-bug::before {
  content: @cc-icon-bug;
}

.cc-icon-book-bookmark::before {
  content: @cc-icon-book-bookmark;
}

.cc-icon-book-bookmark-2::before {
  content: @cc-icon-book-bookmark-2;
}

.cc-icon-apple::before {
  content: @cc-icon-apple;
}

.cc-icon-android::before {
  content: @cc-icon-android;
}

.cc-icon-album::before {
  content: @cc-icon-album;
}

.cc-icon-app-services::before {
  content: @cc-icon-app-services;
}

.cc-icon-name-card-2::before {
  content: @cc-icon-name-card-2;
}

.cc-icon-business-contact-85::before {
  content: @cc-icon-business-contact-85;
}

.cc-icon-privacy-policy::before {
  content: @cc-icon-privacy-policy;
}

.cc-icon-wallet-90::before {
  content: @cc-icon-wallet-90;
}

.cc-icon-strategy::before {
  content: @cc-icon-strategy;
}

.cc-icon-pig::before {
  content: @cc-icon-pig;
}

.cc-icon-payment::before {
  content: @cc-icon-payment;
}

.cc-icon-notes::before {
  content: @cc-icon-notes;
}

.cc-icon-net::before {
  content: @cc-icon-net;
}

.cc-icon-laptop-91::before {
  content: @cc-icon-laptop-91;
}

.cc-icon-laptop-72::before {
  content: @cc-icon-laptop-72;
}

.cc-icon-laptop-71::before {
  content: @cc-icon-laptop-71;
}

.cc-icon-globe::before {
  content: @cc-icon-globe;
}

.cc-icon-business-contact-87::before {
  content: @cc-icon-business-contact-87;
}

.cc-icon-business-contact-86::before {
  content: @cc-icon-business-contact-86;
}

.cc-icon-temple::before {
  content: @cc-icon-temple;
}

.cc-icon-board-28::before {
  content: @cc-icon-board-28;
}

.cc-icon-cockade::before {
  content: @cc-icon-cockade;
}

.cc-icon-badge::before {
  content: @cc-icon-badge;
}

.cc-icon-virus::before {
  content: @cc-icon-virus;
}

.cc-icon-satellite::before {
  content: @cc-icon-satellite;
}

.cc-icon-virtual-assistant-2::before {
  content: @cc-icon-virtual-assistant-2;
}

.cc-icon-cpu::before {
  content: @cc-icon-cpu;
}

.cc-icon-content-360deg::before {
  content: @cc-icon-content-360deg;
}

.cc-icon-phone-camera-back::before {
  content: @cc-icon-phone-camera-back;
}

.cc-icon-send-to-phone::before {
  content: @cc-icon-send-to-phone;
}

.cc-icon-virtual-assistant::before {
  content: @cc-icon-virtual-assistant;
}

.cc-icon-mobile-chat::before {
  content: @cc-icon-mobile-chat;
}

.cc-icon-ai::before {
  content: @cc-icon-ai;
}

.cc-icon-tv-stand::before {
  content: @cc-icon-tv-stand;
}

.cc-icon-tv::before {
  content: @cc-icon-tv;
}

.cc-icon-tablet::before {
  content: @cc-icon-tablet;
}

.cc-icon-tablet-2::before {
  content: @cc-icon-tablet-2;
}

.cc-icon-sync-devices::before {
  content: @cc-icon-sync-devices;
}

.cc-icon-signal::before {
  content: @cc-icon-signal;
}

.cc-icon-screen-rotation::before {
  content: @cc-icon-screen-rotation;
}

.cc-icon-lock-orientation::before {
  content: @cc-icon-lock-orientation;
}

.cc-icon-remote-control::before {
  content: @cc-icon-remote-control;
}

.cc-icon-video-player::before {
  content: @cc-icon-video-player;
}

.cc-icon-mobile-phone-2::before {
  content: @cc-icon-mobile-phone-2;
}

.cc-icon-phone-toolbar::before {
  content: @cc-icon-phone-toolbar;
}

.cc-icon-smartphone::before {
  content: @cc-icon-smartphone;
}

.cc-icon-pc-mouse::before {
  content: @cc-icon-pc-mouse;
}

.cc-icon-mouse-2-2::before {
  content: @cc-icon-mouse-2-2;
}

.cc-icon-mouse-3::before {
  content: @cc-icon-mouse-3;
}

.cc-icon-music-player::before {
  content: @cc-icon-music-player;
}

.cc-icon-navigation::before {
  content: @cc-icon-navigation;
}

.cc-icon-p-add::before {
  content: @cc-icon-p-add;
}

.cc-icon-p-check::before {
  content: @cc-icon-p-check;
}

.cc-icon-p-edit::before {
  content: @cc-icon-p-edit;
}

.cc-icon-p-heart::before {
  content: @cc-icon-p-heart;
}

.cc-icon-p-location::before {
  content: @cc-icon-p-location;
}

.cc-icon-p-remove::before {
  content: @cc-icon-p-remove;
}

.cc-icon-p-search::before {
  content: @cc-icon-p-search;
}

.cc-icon-p-settings::before {
  content: @cc-icon-p-settings;
}

.cc-icon-p-share::before {
  content: @cc-icon-p-share;
}

.cc-icon-p-sync::before {
  content: @cc-icon-p-sync;
}

.cc-icon-p-system-update::before {
  content: @cc-icon-p-system-update;
}

.cc-icon-p-time::before {
  content: @cc-icon-p-time;
}

.cc-icon-h-dashboard::before {
  content: @cc-icon-h-dashboard;
}

.cc-icon-pc-monitor::before {
  content: @cc-icon-pc-monitor;
}

.cc-icon-pc::before {
  content: @cc-icon-pc;
}

.cc-icon-device-connection::before {
  content: @cc-icon-device-connection;
}

.cc-icon-disk-reader::before {
  content: @cc-icon-disk-reader;
}

.cc-icon-l-add::before {
  content: @cc-icon-l-add;
}

.cc-icon-l-check::before {
  content: @cc-icon-l-check;
}

.cc-icon-l-location::before {
  content: @cc-icon-l-location;
}

.cc-icon-l-remove::before {
  content: @cc-icon-l-remove;
}

.cc-icon-l-search::before {
  content: @cc-icon-l-search;
}

.cc-icon-l-security::before {
  content: @cc-icon-l-security;
}

.cc-icon-l-settings::before {
  content: @cc-icon-l-settings;
}

.cc-icon-l-sync::before {
  content: @cc-icon-l-sync;
}

.cc-icon-l-system-update::before {
  content: @cc-icon-l-system-update;
}

.cc-icon-laptop-1::before {
  content: @cc-icon-laptop-1;
}

.cc-icon-laptop-2::before {
  content: @cc-icon-laptop-2;
}

.cc-icon-laptop::before {
  content: @cc-icon-laptop;
}

.cc-icon-lock-portrait::before {
  content: @cc-icon-lock-portrait;
}

.cc-icon-lock-landscape::before {
  content: @cc-icon-lock-landscape;
}

.cc-icon-phone-button::before {
  content: @cc-icon-phone-button;
}

.cc-icon-phone-camera-front::before {
  content: @cc-icon-phone-camera-front;
}

.cc-icon-landscape-orientation::before {
  content: @cc-icon-landscape-orientation;
}

.cc-icon-android-2::before {
  content: @cc-icon-android-2;
}

.cc-icon-apple-2::before {
  content: @cc-icon-apple-2;
}

.cc-icon-cctv::before {
  content: @cc-icon-cctv;
}

.cc-icon-migration::before {
  content: @cc-icon-migration;
}

.cc-icon-computer-monitor::before {
  content: @cc-icon-computer-monitor;
}

.cc-icon-vintage-computer::before {
  content: @cc-icon-vintage-computer;
}

.cc-icon-computer::before {
  content: @cc-icon-computer;
}

