// Contextual backgrounds
@mixin argon-bg-variant($argon-parent, $color) {
    #{$argon-parent} {
        background-color: $color !important;
    }
    a#{$argon-parent},
    button#{$argon-parent} {
        @include argon-hover-focus {
            background-color: darken($color, 10%) !important;
        }
    }
}

@mixin argon-bg-gradient-variant($argon-parent, $color) {
    #{$argon-parent} {
        background: linear-gradient(87deg, $color 0, adjust-hue($color, 25%) 100%) !important;
    }
}

@mixin argon-bg-translucent-variant($argon-parent, $color) {
    #{$argon-parent} {
        background-color: darken(rgba($color, $argon-translucent-color-opacity), 7%) !important;
    }
    a#{$argon-parent},
    button#{$argon-parent} {
        @include argon-hover-focus {
            background-color: darken(rgba($color, $argon-translucent-color-opacity), 12%) !important;
        }
    }
}
