@mixin argon-badge-variant($bg) {
	color: saturate(darken($bg, 10%), 10);
    background-color: lighten($bg, 32%);

  	&[href] {
	    @include argon-hover-focus {
	        color: argon-color-yiq($bg);
	        text-decoration: none;
	        background-color: darken($bg, 12%);
	    }
	}
}
