@mixin dropdown-colors($kit-brand-color, $kit-dropdown-header-color, $kit-dropdown-color, $background-color ) {
    background-color: $kit-brand-color;

    &:before{
        color: $kit-brand-color;
    }

    .dropdown-header:not([href]):not([tabindex]){
        color: $kit-dropdown-header-color;
    }

    .dropdown-item{
        color: $kit-dropdown-color;

        &:hover,
        &:focus{
            background-color: $background-color;
        }
    }

    .dropdown-divider{
        background-color: $background-color;
    }
}
