// Pagination

@mixin pagination-size($base-padding-y, $base-padding-x, $base-font-size, $base-line-height, $base-border-radius) {
  .page-link {
    padding: $base-padding-y $base-padding-x;
    font-size: $base-font-size;
    line-height: $base-line-height;
  }

  .page-item {
    &:first-child {
      .page-link {
        @include border-left-radius($base-border-radius);
      }
    }
    &:last-child {
      .page-link {
        @include border-right-radius($base-border-radius);
      }
    }
  }
}
