.argon-container {
    //
    // Badge
    //


    // General styles

    .app-store-badge img {
        height: 100px;
    }

    .badge {
        text-transform: $argon-badge-text-transfom;

        a {
            color: $argon-white;
        }
    }


    // Size variations

    .badge-md {
        padding: .65em 1em;
    }

    .badge-lg {
        padding: .85em 1.375em;
    }


    // Multiple inline badges

    .badge-inline {
        margin-right: .625rem;

        + span {
            top: 2px;
            position: relative;

            > a {
                text-decoration: underline;
            }
        }
    }


    // Color fixes

    .badge-default {
        color: $argon-white;
    }

    .badge-secondary {
        background-color: argon-theme-color("secondary");
        color: argon-color-yiq(argon-theme-color("secondary"));
    }


    // Badge spacing inside a btn with some text

    .btn {
        .badge {
            &:not(:first-child) {
                margin-left: .5rem;
            }

            &:not(:last-child) {
                margin-right: .5rem;
            }
        }
    }
}
