.argon-container {
	//
	// Shadows
	//

	// General styles
	[class*="shadow"] {
		@if $argon-enable-transitions {
			transition: $argon-transition-base;
		}
	}


	// Size variations
	.shadow-sm--hover:hover {
		box-shadow: $argon-box-shadow-sm !important;
	}

	.shadow--hover:hover {
		box-shadow: $argon-box-shadow !important;
	}

	.shadow-lg--hover:hover {
		box-shadow: $argon-box-shadow-lg !important;
	}

	.shadow-none--hover:hover {
		box-shadow: none !important;
	}
}
