.black-container {
  %card-stats {
    hr {
      margin: 5px 15px;
    }
  }

  .card-stats {
    @extend %card-stats;

    .info-icon {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      @include diagonal-gradient($black-primary, $black-primary-states);

      i {
        color: $black-white;
        font-size: 1.7em;
        padding: 14px 13px;

      }

      &.icon-danger {
        @include diagonal-gradient($black-danger, $black-danger-states);
      }

      &.icon-warning {
        @include diagonal-gradient($black-warning, $black-warning-states);
      }

      &.icon-success {
        @include diagonal-gradient($black-success, $black-success-states);
      }

      &.icon-info {
        @include diagonal-gradient($black-info, $black-info-states);
      }

      &.icon-primary {
        @include diagonal-gradient($black-primary, $black-primary-states);
      }
    }

    .numbers {
      text-align: right;

      .card-title {
        margin-top: 0;
      }

      .card-category {
        margin-bottom: 0;
        color: $black-dark-gray;
      }
    }

    .card-footer {
      padding: 0;
    }

    hr {
      border-color: lighten($black-black, 5%);
    }

    .stats {
      color: rgba($black-white, 0.6);
      margin: 10px 15px;
      font-size: 0.9em;
    }

    &.card-white {
      hr {
        border-color: rgba(43, 53, 83, 0.2)
      }
    }
  }

  @include black-media-breakpoint-down(sm) {
    .card-stats [class*="col-"] .statistics::after {
      display: none;
    }
  }
}
