.argon-container {
    //
    // Custom checkbox
    //

    .custom-control {
        padding-left: 1.75rem;
    }

    .custom-checkbox {
        .custom-control-input ~ .custom-control-label {
            cursor: pointer;
            font-size: $argon-font-size-sm;

            &:after,
            &:before {
                left: -1.75rem
            }
        }

        .custom-control-input {
            &:checked {
                ~ .custom-control-label {
                    &::before {
                        border-color: $argon-custom-control-indicator-checked-border-color;
                    }

                    &::after {
                        background-image: $argon-custom-checkbox-indicator-icon-checked;
                    }
                }
            }

            &:disabled {
                ~ .custom-control-label {
                    &::before {
                        border-color: $argon-custom-control-indicator-disabled-bg;
                    }
                }

                &:checked {
                    &::before {
                        border-color: $argon-custom-control-indicator-checked-disabled-bg;
                    }
                }
            }
        }
    }
}
